{:fetch {:base-url "http://hubzilla"
         :pw "test"
         :login "testes"
         :max-retries 5
         :retry-wait 5000
         }
 :storage {:save-directory "/mnt/sdcard/tmp/out"}
 :log {:spit-filename "/mnt/sdcard/tmp/web.log4j"
       :level :info}}
